header {
    padding: 10px 20px;
    background-color: #2F3663;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #69709B;
    margin: 0;
  }
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav {
    margin: 5px 0;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    color: #69709B;
    font-weight: 400;

  }

  footer {
    padding: 10px 20px;
    background-color: #2F3663;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  footer a {
    color: #69709B;
    text-decoration: none;
  }

  footer h3 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: #69709B;
  }
  footer nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    color: #69709B;
    font-weight: 400;
  }